:root {
    --red: hsl(0, 100%, 74%) ;
    --green: hsl(154, 59%, 51%);
    --blue: hsl(248, 32%, 49%);
    --dark-blue: hsl(249, 10%, 26%) ;
    --grayish-blue: hsl(246, 25%, 77%);
}

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    overflow: hidden;

    align-items: center;
    justify-content: center;

    height: 100vh;
    padding: 0 10vw;

    font-family: 'Poppins', sans-serif;
    background-color: var(--red);
    background-image: url(./images/bg-intro-desktop.png);
    background-position: center;
}

#title-description {
    display: flex;
    flex-direction: column;
    color: #fff;
}

#title {
    font-size: 2.5rem;
    line-height: 1.2;
}

#description {
    font-weight: 500;
    margin-top: 1.5rem;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#above-form {
    background: var(--blue);
    text-align: center;
    font-weight: 400;
    color: #fff;

    border-radius: 8px;
    box-shadow: 0 7px 1px 0 rgba(0, 0, 0, .18);
    
    width: 100%;
    padding: 1rem 0;
    margin-bottom: 1.5rem;
}

#above-form span {
    font-weight: 700;
}

#trial {
    background: #fff;
    width: 100%;
    padding: 2rem;

    border-radius: 8px;
    box-shadow: 0 7px 1px 0 rgba(0, 0, 0, .18);
}

fieldset {
    display: flex;
    flex-direction: column;

    border: 0;
}

input {
    padding: 1rem;
    margin-bottom: 12px;

    width: 100%;
    border: 0.05px solid var(--grayish-blue);
    border-radius: 5px;
    opacity: 0.8;
    outline: 0;

    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: var(--dark-blue)
}

input:focus {
    border: 0.05px solid var(--dark-blue);
}

button {
    background: var(--green);
    padding: 1rem 0;

    border: 0;
    border-radius: 5px;
    border-bottom: 3px solid rgba(0, 0, 0, .2);
    outline: 0;
    cursor: pointer;

    color: #fff;
    font-weight: 600;
    text-transform: uppercase;

    transition: .2s;
}

button:hover {
    opacity: 0.7;
}

small {
    margin-top: 12px;

    text-align: center;
    color: var(--grayish-blue);
    font-size: 10px;
    font-weight: 600;
}

small a {
    color: var(--red);
    text-decoration: none;
}

.sr-only {
    position: absolute;
    width: 1;
    height: 1;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

/* Error Message */
#email.error::-webkit-input-placeholder {
    color: var(--red)
}

.error {
    background-image: url(./images/icon-error.svg);
    background-repeat: no-repeat;
    background-position: right 1.5rem center;
    border: 2px solid var(--red)
}

.error-message {
    display: none;
    align-items: flex-end;
    justify-content: flex-end;
    width: 99%;

    margin-top: -0.7rem;
    margin-bottom: 1rem;
}

.error-message.active {
    display: flex;
}

.error-message em {
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--red)
}

@media (max-width: 900px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: initial;
        justify-content: initial;

        overflow: scroll;

        height: initial;
        padding: 15vh 8vw;
    }

    #title {
        font-size: 2.2rem;
        text-align: center;
    }

    #description {
        font-size: 1rem;
        text-align: center;
    }

    #above-form {
        padding: 1rem 3rem;
    }

    small {
        padding: 0 12px;
        line-height: 2;
    }
}

@media (min-width: 1440px) {
    body {
        background-size: cover;
    }

    #title {
        font-size: 3rem
    }

    #form {
        height: 100%;

        width: 90%;
    }

    #trial {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    fieldset {
        width: 100%
    }

    input {
        margin-bottom: 1.2rem;
        padding: 1rem 1.9rem;
        font-size: 14px;
    }
}